body {
    margin-left: 50px;
    margin-right: 50px;
    align-items: center;
    max-width: 1300px;
  }
  /* Header section */
  .text {
    color: aliceblue;
    font-size: 1.5rem;
    text-align: center;
  }
  .New-text {
    color: aliceblue;
    font-size: 3rem;
    text-align: center;
  }
  .banner-img {
    height: 600px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)),
      url(./Images/BannerImage.png) no-repeat center
        center;
    border-radius: 10px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /* ......................... */
  
  /* Catagory section */
  
  .catagory{
    text-align: center;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 100px;
  }
  
  .discount{
    padding-top: 1rem;
    font-size: 50px;
    color: red;
  }
  .cat-text1{
    color: red;
  }
  .cat-text2{
    font-size: 33px;
  }
  
  catagory div img{
    width: 500px;
    padding-top: 5px;
  }
  
  /* -------------------------------------- */

  /* Party section */
  .partySec {
    margin-top: 50px;
    height: 400px;
    background: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)),
      url(./Images/Vectorrr.png) no-repeat center center;
    border-radius: 10px;
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    justify-content: center;
    align-items: center;
    padding: 50px;
  }
  
  .partyText {
    grid-column: span 2; 
    text-align: left; 
    margin-left: 50px;
    margin-right: 100px;
    color: white;
  }
  .partyText>h1{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    font-size: 3rem;
  }
  .partyText>p{
    color: wheat;
  }
  .partyText>div>button{
    padding: 5px;
    font:200;
    background:none;
    color: aliceblue;
    border: none;
  }
  
  .partyImg {
    grid-column: span 1; 
    text-align: center; 
    ;
  }
  .partyImg>img{
    height:300px;
    width: 200px;
  }
  /* ----------------------------------- */
  /* Party Timing */
  .partyTiming{
    margin-top: 50px;
    background: linear-gradient(to bottom, rgb(226, 183, 183), rgba(255, 255, 255, 0));
    text-align: center;
    border-radius: .5rem;
    padding: 50px;
    font-size: 20px;
  }
  .timingDetails{
    color: red;
  }
  .partyTiming>button{
    background-color: red;
    color: aliceblue;
    border: none;
    padding: 5px;
    border-radius: 5px;
  }
  /* ---------------------- */

  